.player
  display: flex
  flex-direction: row
  justify-content: center
  z-index: 1000
  position: fixed
  bottom: 0
  vertical-align: bottom
  flex: 0 1 auto




.controls
  display: flex
  width: 80%
  height: 50px
  //border: 1px solid #0a7f08
  margin-top: 5px
  align-items: center
  justify-content: space-between

.stationImg
  margin-right: 15px
  margin-top: 10px

  img

    width: 50px
    height: 45px

.playPause-control__stationName
  display: flex
  align-items: center

  .stationName
    margin-left: 20px

    p
      color: #0a7f08
      text-transform: uppercase


.volume__equalizerBtn
  display: flex
  align-items: center

  .volume
    display: flex

  .mute
    transition: .3s
    margin:
      right: 10px
      left: 10px

  .volumeTrack
    label
      color: #0a7f08

    input[type=range]
      -webkit-appearance: none
      margin-left: 10px
      padding: 0
      height: 8px
      width: 120px
      outline: none
      background: #000
      border-radius: 10px
      transition: .3s

      &::-webkit-slider-thumb
        -webkit-appearance: none
        cursor: pointer
        background: #0a7f08
        height: 10px
        width: 10px
        border-radius: 50%
        margin-top: -1px

      &::-webkit-slider-runnable-track
        background: #000
        height: 8px
        border-radius: 40px

  .EQBtn
    text-decoration: none
    text-transform: uppercase
    color: #000
    font-weight: bold


.show
  display: flex

.hide
  display: none

